@{
    ViewBag.Title = "About";
}

<div class="about" style="padding: 2em 0em;">
    <h1 class="text-center" style="padding-bottom:30px;">About Us...</h1>
    <div class="container">
        <div class="w3ls_about_grids">
            
            <div class="col-md-6 w3ls_about_grid_left" style="text-align: justify;text-justify: inter-word; color: #555555;">
                <p>
                    Anonymous User: Can browse through the store by listing products and seing their details.
                </p>
                <p>
                    Authenticated User: Can do the same things as the users before him, plus can add products to their cart, as well as finish an order. This user may also check their past orders.
                </p>
                <p>
                    Admin: Can do the same things as the users before him, check all the orders instead of only theirs and has permissiong to do all the functions to manage the website, like creating products, etc...
                </p>
                <p>
                    Users criados: admin@a.a / 123Qwe!  -  user@a.a / 123Qwe!
                </p>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-6 w3ls_about_grid_right">
                <img src="~/WebsiteImages/happyCustomer.jpg" alt=" " class="img-responsive" />
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //about -->
<!-- team -->
<div class="team" style="padding: 3em 0;">
    <div class="container">
        <h3>Meet Our Team</h3>
        <div class="wthree_team_grids" style="margin: 1em 0 0;">
            <div class="col-md-12 wthree_team_grid">
                <img src="~/WebsiteImages/davidBernardo.jpg" alt=" " style="width:250px;height:265px;"  />
                <h4>David Bernardo <span>Engenharia Informática, Tecnologias de Internet 2 2017/2018</span><span>Email: aluno18956@ipt.pt</span><span>Contact: 912345678</span></h4>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

